<a href="https://colab.research.google.com/github/Jannatarajui/PROJECT/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
marks = [23.5, 55.6, 67, 90]
print(marks)
print(len(marks))
print(marks[2])
marks[1] = "jannat"
print(marks)
name = ["jannat", "fayyad", "golu", "jesmine", "ami"]
print(name[0:2])
print(name[-4:-2])
name.append("amijui")
print(name)

[23.5, 55.6, 67, 90]
4
67
[23.5, 'jannat', 67, 90]
['jannat', 'fayyad']
['fayyad', 'golu']
['jannat', 'fayyad', 'golu', 'jesmine', 'ami', 'amijui']

In [2]:
first = input("enter the 1st movie name:")
sceond = input("enter the 2nd movie name:")
third = input("enter the 3rd movie name;")
LIST = [first, sceond, third]
print("all the movie name is :", LIST)

enter the 1st movie name:titanic
enter the 2nd movie name:jab we met
enter the 3rd movie name;three idiots
all the movie name is : ['titanic', 'jab we met', 'three idiots']