<a href="https://colab.research.google.com/github/Jannatarajui/PROJECT/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
dict = {
    "name" : "jannat",
      "roll"  : 24,

}
print(dict)
print(dict["name"])

{'name': 'jannat', 'roll': 24}
jannat

In [15]:
students = {
    "name" : "jannat",
    "subjects" : {
        "math" : 97,
        "english" : 67,

    }
}
print(students)
print(students["subjects"])
print(len(list(students.keys())))
print(students.get("name2"))
new_dict = {
    "city" : "Dhaka",
    "time" : 10,
}
students.update(new_dict)
print(students)

{'name': 'jannat', 'subjects': {'math': 97, 'english': 67}}
{'math': 97, 'english': 67}
2
None
{'name': 'jannat', 'subjects': {'math': 97, 'english': 67}, 'city': 'Dhaka', 'time': 10}

In [24]:
collections = {1, 2 ,3 , "jannat"
}
print(collections)
print(type(collections))
collections.pop()
print(collections)

collections.add("jannatul")
print(collections)

{1, 2, 3, 'jannat'}
<class 'set'>
{2, 3, 'jannat'}
{2, 3, 'jannatul', 'jannat'}

In [26]:
num1 = {1, 2, 3, 4 , 5}
num2 = { 4, 5 ,6 ,7 ,7}
print(num1.intersection(num2))

{4, 5}

In [29]:
meaning = {
    "cat" : "a small animal",
    "table" : [ " a pice of furniture" , "lists of facts and figures"]
}
print(meaning)

{'cat': 'a small animal', 'table': [' a pice of furniture', 'lists of facts and figures']}

In [31]:
subjects = {
   " python", "java", "javascript", "c++" , "c",
}
print(len(subjects))

5

In [32]:
marks = {}
x = int(input("enter phy marks:"))
marks.update({"phy": x})
y = int(input("enter chem marks : "))
marks.update({"chem " : y})
z = int(input("enter math marks:"))
marks.update({"math" : z})
print(marks)

enter phy marks:89
enter chem marks : 90
enter math marks:79
{'phy': 89, 'chem ': 90, 'math': 79}